@import "src/app/app.theme";

.nav-tabs {
  .nav-item {
    .nav-link {
      color: $main-pink;
      font-size: 14px;
      &.active {
        color: $main-pink-dark;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}
