<nav class="navbar navbar-expand-lg navbar-dark static-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-gg-circle" aria-label="logo"></i><span class="ml-2">Main Logo</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarResponsive" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarResponsive" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/admin">Admin</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/operator">Operator</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/account">My Account</a></li>
        <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
