<div>
  <div class="company-logo">
    <img src="assets/images/sample-logo.jpg" alt="company logo">
  </div>

  <h3>{{ companyInfo.name }}</h3>

  <div class="contents">
    <div class="section-block">
      <div class="item-row">
        <label class="disabled">ID:</label>
        <abine-editable-label [value]="companyInfo.id" [disabled]="true"></abine-editable-label>
      </div>
      <div class="item-row">
        <label>Manager:</label>
        <abine-editable-label [value]="companyInfo.manager"></abine-editable-label>
      </div>
      <div class="item-row">
        <label>Name:</label>
        <abine-editable-label [value]="companyInfo.name"></abine-editable-label>
      </div>
      <div class="item-row">
        <label>Registered on:</label>
        <abine-editable-label [value]="companyInfo.createdAt | date : 'medium'" [readonly]="true"></abine-editable-label>
      </div>
    </div>
    <div class="section-block">
      <div class="item-row">
        <label>Stripe Customer:</label>
        <abine-editable-label [value]="companyInfo.stripeCustomer"></abine-editable-label>
      </div>

      <div class="item-row">
        <label>Billing Info:</label>
        <abine-editable-label [value]="companyInfo.billing" [options]="billingOptions"></abine-editable-label>
        <p class="hint">(instant or invoiced)</p>
      </div>
    </div>

    <div class="action-group" fxLayout="row" fxLayoutAlign="space-between center">
      <button class="btn btn-abine">View Members</button>
      <button class="btn btn-abine">Add Members</button>
      <button class="btn btn-abine">View Reports</button>
      <button class="btn btn-abine">Billing Details</button>
      <button class="btn btn-abine">Renewals Report</button>
      <button class="btn btn-abine danger">Delete Group</button>
    </div>
  </div>

  <div class="comments mt-5">
    <p class="font-weight-bold">Comments:<a class="refresh-btn ml-1"><i class="fa fa-refresh"></i></a></p>
    <div class="comments-list">
      <ul>
        <li *ngFor="let comment of companyInfo.comments">{{ comment }}</li>
      </ul>
      <p *ngIf="!companyInfo.comments.length">No comments on this User.</p>
    </div>
    <button class="btn btn-abine" (click)="addComment = true" *ngIf="!addComment">Add Comment</button>
    <form [formGroup]="commentForm" (ngSubmit)="saveComment()" *ngIf="addComment">
      <div class="form-group" fxLayout="row">
        <input class="form-control" formControlName="comment">
        <button class="btn btn-abine">Save</button>
      </div>
    </form>
  </div>
</div>
